flows.json
[
    {
        "id": "d8683555.9a2e28",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "44ad9f8b.a5c64",
        "type": "rpi-gpio out",
        "z": "d8683555.9a2e28",
        "name": "GreenLed",
        "pin": "11",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "339e20c4.645bc",
        "type": "inject",
        "z": "d8683555.9a2e28",
        "name": "ON",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "44ad9f8b.a5c64",
                "f505d378.5b8fb"
            ]
        ]
    },
    {
        "id": "b66063f5.daad8",
        "type": "inject",
        "z": "d8683555.9a2e28",
        "name": "OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "44ad9f8b.a5c64",
                "f505d378.5b8fb"
            ]
        ]
    },
    {
        "id": "f505d378.5b8fb",
        "type": "debug",
        "z": "d8683555.9a2e28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "91f2e7e5.2100d8",
        "type": "rpi-gpio in",
        "z": "d8683555.9a2e28",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "f7e8eb0b.ea5428",
                "937685a0.56fb98"
            ]
        ]
    },
    {
        "id": "f7e8eb0b.ea5428",
        "type": "debug",
        "z": "d8683555.9a2e28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "97b31abd.230dd8",
        "type": "rpi-gpio out",
        "z": "d8683555.9a2e28",
        "name": "GreenLed",
        "pin": "11",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "937685a0.56fb98",
        "type": "switch",
        "z": "d8683555.9a2e28",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "729cbc92.d1ee54"
            ],
            [
                "d2108dbd.360de"
            ]
        ]
    },
    {
        "id": "729cbc92.d1ee54",
        "type": "change",
        "z": "d8683555.9a2e28",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "97b31abd.230dd8"
            ]
        ]
    },
    {
        "id": "d2108dbd.360de",
        "type": "change",
        "z": "d8683555.9a2e28",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 600,
        "wires": [
            [
                "97b31abd.230dd8"
            ]
        ]
    }
]
