flow3.json
[
    {
        "id": "7b8f3a75.16d084",
        "type": "tab",
        "label": "流程3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "67a9e0e5.07a1a",
        "type": "inject",
        "z": "7b8f3a75.16d084",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 70,
        "y": 200,
        "wires": [
            [
                "a34b6e81.ce65b"
            ]
        ]
    },
    {
        "id": "a34b6e81.ce65b",
        "type": "function",
        "z": "7b8f3a75.16d084",
        "name": "",
        "func": "msg.headers = {\n    deviceKey: \"SOTn0hv4ZVO3iwr8\"\n    };\nmsg.payload= \"Temperature,,25.3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "ecadd992.fb41c8"
            ]
        ]
    },
    {
        "id": "ecadd992.fb41c8",
        "type": "http request",
        "z": "7b8f3a75.16d084",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.mediatek.com/mcs/v2/devices/DUw0fxMb/datapoints.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 420,
        "y": 340,
        "wires": [
            [
                "a4b0d553.d15998",
                "aefdda81.8d4da8"
            ]
        ]
    },
    {
        "id": "a4b0d553.d15998",
        "type": "http response",
        "z": "7b8f3a75.16d084",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "aefdda81.8d4da8",
        "type": "debug",
        "z": "7b8f3a75.16d084",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 660,
        "y": 480,
        "wires": []
    }
]
