flows5.json
[
    {
        "id": "d4b1cab4.47d6a8",
        "type": "tab",
        "label": "流程5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bc67834f.a6eda",
        "type": "function",
        "z": "d4b1cab4.47d6a8",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "e92a2688.3a4128"
            ]
        ]
    },
    {
        "id": "e92a2688.3a4128",
        "type": "rpi-gpio out",
        "z": "d4b1cab4.47d6a8",
        "name": "",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "2d9d1275.7d130e",
        "type": "function",
        "z": "d4b1cab4.47d6a8",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to HIGH\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "2db8b7b1.bc8b28",
                "167e03ac.1cdddc"
            ]
        ]
    },
    {
        "id": "2db8b7b1.bc8b28",
        "type": "debug",
        "z": "d4b1cab4.47d6a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "19d64168.04636f",
        "type": "function",
        "z": "d4b1cab4.47d6a8",
        "name": "Clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "e92a2688.3a4128"
            ]
        ]
    },
    {
        "id": "32d46b77.f529d4",
        "type": "function",
        "z": "d4b1cab4.47d6a8",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to LOW\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "2db8b7b1.bc8b28",
                "167e03ac.1cdddc"
            ]
        ]
    },
    {
        "id": "167e03ac.1cdddc",
        "type": "http response",
        "z": "d4b1cab4.47d6a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "262f496f.318ee6",
        "type": "http in",
        "z": "d4b1cab4.47d6a8",
        "name": "Set GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "bc67834f.a6eda",
                "2d9d1275.7d130e"
            ]
        ]
    },
    {
        "id": "5b43f668.adc168",
        "type": "http in",
        "z": "d4b1cab4.47d6a8",
        "name": "Clear GPIO5",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "19d64168.04636f",
                "32d46b77.f529d4"
            ]
        ]
    }
]